<!-- Código estilo modal -->
<div id="modal" class="point">
  <div class="content">
    <img src="./extras-aula-1/icones/check.svg" alt="Cadastrado concluído">

    <h1>Cadastro concluído</h1>
  </div>
</div>

{# usando JS na página #}
{# setTimeout: funçao que rodará após certo tempo, 2 argumentos: funcionalidade, e tempo em ms #}
{# setTimeout: responsável pelo redirecionamento da página #}
{# window.location o que irá definir o endereço da janela #}
<script>
  setTimeout(() => {
    window.location = "/"

  }, 2000)
</script>